<div class="new-post">
  <h2 class="center">Edit Post</h2>
  <hr>
  <div class="create-account-form container">
    <div class="z-depth-4 col s12">
      <%= render "edit" %>
    </div>
  </div>
  <br>
</div>
