<h2 class="center">Create a New Post</h2>
<hr>
<div class="container">
  <div class="row">
    <div class="col s12 m5 center">
      <%= render "adventure" %>
    </div>
    <div class="col m2">

    </div>
    <div class="z-depth-4 col s12 m5">
      <%= render "new" %>
    </div>
  </div>
</div>
