<div class="new-post">
  <h2 class="center">Create a Post</h2>
  <hr>
  <div class="create-account-form container">
    <div class="z-depth-4 col s12">
      <%= render "new" %>
    </div>
  </div>
  <br>
</div>
