<div class="slider">
  <ul class="slides">
    <li>
      <img src="http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/SanFrancisco_0.jpg">
      <div class="caption center-align">
        <h3>Feel like you're drifting?</h3>
      </div>
    </li>
    <li>
      <img src="http://qtxasset.com/2016-12/las-vegas.jpg?YdgJOxAi7L2fpZtpby8TQORQi3wxsmrc">
      <div class="caption left-align">
        <h3>Let us guide you...</h3>
      </div>
    </li>
    <li>
      <img src="http://www.homewoodsuitesseattle.com/img/home/hotel-near-seattle-space-needle.jpg">
      <div class="caption right-align">
        <h3>Welcome to Vagabon</h3>
        <h5 class="light grey-text text-lighten-3">Your adventure awaits.</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col s6">
    <h4 class="center">Popular Locations</h4>
  </div>
  <div class="col s6">
    <h4 class="center">Recent Posts</h4>
  </div>
</div>
